.vagrant/
ubuntu-*-cloudimg-console.log

venv-py2-mac/

filename.npy
*.npy

new_file.csv
pd.csv
np.csv
music.csv
simple.csv
weather.csv
iris_knn.pkl
sklearn-example-*.png

foo.*
data/

mlcourse/
course-dir.txt
