.vagrant/
ubuntu-bionic-18.04-cloudimg-console.log
ubuntu-*-cloudimg-console.log

c-cpp/**/*.o
c-cpp/reversedstr/reversefirsthalf

java/**/*.class
java/**/*.jar
java/**/*.zip

.idea
**/*.iml
java/out/

*.ppt
*.pdf
.DS_Store
