<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(title=~{::title/text()})">
    <title>Person : Sign in</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments :: navbar"></div>
    <div class="float-right mt-2">
        <a class="btn btn-primary btn-sm" href="index.html" th:href="@{/}">Index</a>
    </div>
    <h4 class="float-left mt-2">Person : Sign in</h4>
    <div class="clearfix"></div>
    <form id="form" th:action="@{/sign-in}" action="#" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" >
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>
